<div class="mycol">
  <div class="pl-3 pt-2 pb-2">
    <h3 class="pl-3">Supplier List</h3>
  </div>
  <hr>
  <br>
  <table id="example" class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
     
      <tr mdbTableCol *ngFor="let el of elementsSupplier" class="cell">
 
        <th scope="row">{{el.id}}</th>
        <td>{{el.name}}</td>
        <td>{{el.username}}</td>
        <td>{{el.email}}</td>
        <td>{{el.telephone}}</td>
        <td>{{el.address}}</td>
        <td><button type="button" mdbBtn color="primary" size="sm" (click)="onClickdelete(el.id)" mdbWavesEffect>Block</button></td>
  
      </tr>

    </tbody>
  </table>
</div>