.b {
    /* Full height */
   height: 92vh;

   background-image: url("../../assets/Shopping.jpg");

    /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.pdng 
{
    padding-top: 200px;
}

.zzz {
    z-index: 992;
    position: absolute;
}